body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

.header {
  height: 65px;
  padding: 20px 50px 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.header-logo {
  width: 50px;
  height: 50px;
}

.header-text {
  font-size: 21px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}

.project-title {
  font-size: 18px;
  font-weight: 700;
  text-align: right;
}

.input-section-wrapper {
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputs {
  display: flex;
  justify-content: center;
  gap: 200px;
}

.input-1 {
  cursor: pointer;
  height: 50px;
  width: 100%;
  border: 3px solid #d5d4d8;
  border-radius: 5px;
}

.button-section {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  width: 100%;
  font-weight: 800;
  height: 70px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.labels {
  word-spacing: 5px;
  font-weight: 800;
  font-size: 30px;
}

.button-section > label {
  word-spacing: 5px;
  font-weight: bold;
  font-size: 30px;
}

.image-wrapper {
  padding: 35px;
  margin-bottom: 10%;
  height: 500px;
  background-image: url("../public/Images/Image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 2px solid #d5d4d8;
}
